In [2]:
import os
import sys


module_path = os.path.abspath(os.path.join(".."))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
if "mintaka" in os.getcwd():
    os.chdir("../../..")
    # %cd ".."

In [4]:
import json

import pandas as pd

In [5]:
train_df = pd.read_csv("./data/mintaka/raw/train.csv")
validation_df = pd.read_csv("./data/mintaka/raw/validation.csv")
test_df = pd.read_csv("./data/mintaka/raw/test.csv")

In [6]:
merged_train_df = pd.concat([train_df, validation_df])
merged_train_df = merged_train_df.sample(frac=1).reset_index(drop=True)

In [7]:
merged_train_df.head(10)

,id,lang,question,answerText,category,complexityType,questionEntity,answerEntity
0,618e504d,en,How many states have a population of less than...,6,geography,count,"[{'name': 'Q35657', 'entityType': 'entity', 'l...","[{'name': 'Q1214', 'label': 'Wyoming'}\n {'nam..."
1,f350a134,en,Which actor played both Captain Kirk and Jack ...,Chris Pine,movies,intersection,"[{'name': 'Q1068314', 'entityType': 'entity', ...","[{'name': 'Q23466', 'label': 'Chris Pine'}]"
2,6e6e3963,en,Which Carl Sagan book is not one of his many n...,Contact,books,difference,"[{'name': 'Q410', 'entityType': 'entity', 'lab...","[{'name': 'Q741013', 'label': 'Contact'}]"
3,d05d4220,en,What is the deepest river in the world?,the Congo River,geography,superlative,"[{'name': 'Q4022', 'entityType': 'entity', 'la...","[{'name': 'Q3503', 'label': 'Congo'}]"
4,457a65d1,en,Did the second Harry Potter book come out befo...,Yes,books,comparative,"[{'name': 'Q8337', 'entityType': 'entity', 'la...",[]
5,d8036adf,en,Who played Rocky Balboa in the movie Rocky?,Sylvester Stallone,movies,generic,"[{'name': 'Q188652', 'entityType': 'entity', '...","[{'name': 'Q40026', 'label': 'Sylvester Stallo..."
6,148a5b90,en,Who is the tallest actress?,dorothy ford,movies,superlative,"[{'name': 'Q33999', 'entityType': 'entity', 'l...","[{'name': 'Q13560281', 'label': 'Dorothy Ford'}]"
7,52801646,en,Did Old Town Road come out the same year as Ne...,No,music,comparative,"[{'name': 'Q62587323', 'entityType': 'entity',...",[]
8,700de01a,en,How many adoptive children did Julius Caesar h...,1,history,count,"[{'name': 'Q1048', 'entityType': 'entity', 'la...","[{'name': 'Q363084', 'label': 'Gaius Octavius'}]"
9,e32c0422,en,What was the fiftieth state to join the United...,Hawaii,history,ordinal,"[{'name': 'Q30', 'entityType': 'entity', 'labe...","[{'name': 'Q782', 'label': 'Hawaii'}]"

In [8]:
def create_json(row):
    return json.dumps(
        {
            "answerText": row["answerText"],
            "category": row["category"],
            "complexityType": row["complexityType"],
        },
        ensure_ascii=True,
    )


def create_json_df(df):
    df = df.copy()
    df["label"] = df.apply(create_json, axis=1)
    df = df[["question", "label"]]
    return df


_train_df = create_json_df(merged_train_df)
_test_df = create_json_df(test_df)

_train_df.head(10)

,question,label
0,How many states have a population of less than...,"{""answerText"": ""6"", ""category"": ""geography"", ""..."
1,Which actor played both Captain Kirk and Jack ...,"{""answerText"": ""Chris Pine"", ""category"": ""movi..."
2,Which Carl Sagan book is not one of his many n...,"{""answerText"": ""Contact"", ""category"": ""books"",..."
3,What is the deepest river in the world?,"{""answerText"": ""the Congo River"", ""category"": ..."
4,Did the second Harry Potter book come out befo...,"{""answerText"": ""Yes"", ""category"": ""books"", ""co..."
5,Who played Rocky Balboa in the movie Rocky?,"{""answerText"": ""Sylvester Stallone"", ""category..."
6,Who is the tallest actress?,"{""answerText"": ""dorothy ford"", ""category"": ""mo..."
7,Did Old Town Road come out the same year as Ne...,"{""answerText"": ""No"", ""category"": ""music"", ""com..."
8,How many adoptive children did Julius Caesar h...,"{""answerText"": ""1"", ""category"": ""history"", ""co..."
9,What was the fiftieth state to join the United...,"{""answerText"": ""Hawaii"", ""category"": ""history""..."

In [9]:
_train_df.to_csv("./data/mintaka/train.csv", index=False)
_test_df.to_csv("./data/mintaka/test.csv", index=False)